input[type="date"] {
  max-width: 200px;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

label {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  font-size: 140%;
  margin-bottom: 10%;
}


.intro {
  margin-left: 20%;
  text-align: left;
}

.intro h1 {
  margin-top: 10%;
  font-weight: 300;
  margin-bottom: 5%;
}

@media (max-width: 960px) {
  .intro {
    margin-left: 5%;
  }
  .intro h1 {
    margin-top: 5%;
  }
}

.choice > div > label {
  font-size: 100%;
  margin-top: 1%;
  margin-left: 0.5em;
  margin-bottom: 0%;
  flex-direction: row;
}

.choice > div {
  flex-direction: row;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}

#radio_with_text {
  display: flex;
  flex-direction: row;
  display: inline; 

}

