.select-team {
    padding: 2% 5%;
    max-width: 1400px;
    margin: 0 auto;
}

.select-team p {
    font-size: 120%;
}

.select-team div {
    margin-bottom: 2%;
}

.select-team-form {
    margin-top: 8%;
}

.select-team-form .choice {
    margin-left: 5%;
}

.select-team-form .choice div:first-of-type {
    margin-top: 1%;
}