.translation-team {
    padding: 2% 5%;
    max-width: 1400px;
    margin: 0 auto;
    text-align: left;
}

.translation-team p {
    font-size: 120%;
}

.translation-header {
    text-align: center;
}