.welcome-container {
  padding-left: 3%;
  padding-right: 3%;
}

.welcome-header {
  font-size: 280%;
  font-weight: 300;
}
@media (max-width: 760px) {
  .welcome-header {
    font-size: 150%;
  }
}

.welcome-guide {
  font-size: 110%;
}

.welcome-buttons > button, .button {
  margin-top: 5%;
  padding: 8px 20px 8px 20px;
  border-radius: 5px;
  background-color: #ffffff;
  border: none;
  font-size: 140%;
  font-weight: bold;
  outline: none;
  -webkit-box-shadow: 10px 10px 33px -17px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 33px -17px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 33px -17px rgba(0, 0, 0, 0.75);
}

.welcome-buttons > .button > a {
  color: #808080;
  text-decoration: none;
}

